<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-autowire="byType">


    <!--第二种方式 xml和注解方式-->
    <context:annotation-config></context:annotation-config><!--spring4开始，此配置已经整合在context:compent-scan中-->
    <context:component-scan base-package="com.www"></context:component-scan>


    <!-- 第一种方式 xml
    <bean id="dao" class="com.www.ioc.IndexDaoImpl"></bean>


    <bean id="service" class="com.www.ioc.IndexService">
        &lt;!&ndash;<property name="dao" ref="dao"/>&ndash;&gt;
        <constructor-arg ref="dao"/>
    </bean>
    -->

<!--    <bean id="dao" class="com.www.ioc.IndexDaoImpl"></bean>

    <bean id="dao1" class="com.www.ioc.IndexDaoImpl1"></bean>-->
</beans>